
@font-face { 
  font-family: "Alumni Sans Pinstripe";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AlumniSansPinstripe-Regular.ttf) format("truetype");
}

.textfloat > span {
  display: inline-block;  
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: inherit; /* Inherit font size from parent */
}

.textfloat > span:hover {
  color: rgb(6, 128, 0);  
  transform: scale(1.1);  
}
