/* Textfloat.module.css */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

/* Textfloat.module.css */
.textfloat > span {
  display: inline-block;  
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: inherit; /* Inherit font size from parent */
}

.textfloat > span:hover {
  color: red;  
  transform: scale(1.1);  
}
