.main {
    display: flex;
    justify-content: flex-start; /* Aligns content to the top-left */
    align-items: flex-start;
    height: 100vh; /* Full viewport height */
    margin: 0;
    overflow: hidden; /* Prevents scrolling if content overflows */
  }

  .title{
    position: relative;
    margin-left: 700px;
    font-size: 3.5rem;
  }