.main {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    height: 100vh; 
    margin: 0;
    overflow: hidden;}
.worklist{
  position:relative;
  margin-left:300px;
  font-size:2rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight:bolder;
}
  .title{
    position: relative;
    margin-left: 700px;
    font-size: 3.5rem;
  }