/* Main layout for the page */
.main {
  display: flex;
  justify-content: flex-start; /* Aligns content to the top-left */
  align-items: flex-start;
  height: 100vh; /* Full viewport height */
  margin: 0;
  overflow: hidden; /* Prevents scrolling if content overflows */
}

.title {
  margin-left: 300px;
  top: 90px;
  margin-bottom: 100px;
  position: relative;
}

.Cartitle {
  top:115px;
  left:870px;
  position: absolute;
  }

.Car {
  width: 600px; /* Adjust size */
  height: auto;
  position: absolute; /* Positions the image independently */
  top: 140px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
  z-index: 1; /* Ensures the image stays above other elements */
  border: 5px solid #000000;
}
