.makepagelonger{
    margin-top:900px;
    position: absolute;
    color:white;
}

.header{
    position: absolute;
    margin-left: 340px;
    font-size: 3.5rem;
}
.header2{
    position: absolute;
    margin-left: 335px;
    font-size: 3.5rem;
    margin-top:290px;
    font-family: "Alumni Sans Pinstripe";

}
.para{
    position: absolute;
    margin-left: 340px;
    width: 500px;
    margin-top: 130px;
    font-family: "Alumni Sans Pinstripe";
    font-weight: 500;
    font-size: 1.35rem;
}
@font-face { 
    font-family: "Alumni Sans Pinstripe";
    font-style: normal;
    font-weight: 400;
    src: url(/nextjs-dashboard/app/comps/fonts/AlumniSansPinstripe-Regular.ttf) format("truetype");
}
.bar1{
    position:absolute;
    margin-top:350px;
    margin-left:340px;
    display: flex;
    gap: 20px;
}
.bar2{
    position:absolute;
    margin-top:420px;
    margin-left:340px;
    display: flex;
    gap: 20px;
}
.bar3{
    position:absolute;
    margin-top:490px;
    margin-left:340px;
    display: flex;
    gap: 20px;
}
.bar4{
    position:absolute;
    margin-top:560px;
    margin-left:340px;
    display: flex;
    gap: 20px;
}
.button{
        display: flex; 
        align-items: center; 
        justify-content: center; 
        text-align: center; 
        text-decoration: none; 
        position: absolute;
        width: 220px;
        height: 70px;
        top: 690px;
        left: 320px;
        font-size: 2.6rem;
        background-color: white;
        border: 2px solid #000; 
        border-radius: 5px; 
        transition: background-color 0.3s ease-in-out, transform 1.0s ease-in-out, border-color 0.3s ease-in-out;
        font-family: "Alumni Sans Pinstripe", sans-serif;
        font-weight: bold;
        cursor: pointer;
        color: #000;
   }   
      
    .button:hover {
        background-color: rgb(6, 128, 0); 
        border-color: rgb(255, 255, 255);
        transform: scale(1.05); 
      
      }
